
*.csv
crewai-autocrew-2024*.*
Inactive/*.*
crewai-ui*
crewai-test*
test*.py
crewai-FirstScript-*.*
crewai-script-*.*
crewai-autocrew-alpha*.*
crewai-autocrew-script-2024*.*
crewai-autocrew-confirmed-*.*
crewai-autocrew2.py
crewai-autocrew3.py
.DS_Store
.vscode
.env
.venv
.swp
dist
ollama
ggml-metal.metal
.cache
*.exe
.idea
test_data
*.gguf
ModelFile
solar10-q5ks
old-script.py
