*.bak
*.csv
*.pyc
.autocrew_update/*.*
.autocrew_update
.backup/*.*
.backup
autocrew.log
config.ini
scripts/*.*
.vscode/*.*
autocrew_update/
*.csv
Inactive/*.*
crewai-autocrew-202*.*
*.pyc
*.log
*.ini
.vscode/settings.json
test.py

config.ini
config.ini
*.txt
merge.py
