crewai>=0.1.32
langchain>=0.1.4
langchain_community>=0.0.16
ollama>=0.1.4
openai>=1.10.0
packaging>=23.2
Requests>=2.31.0
tiktoken>=0.5.2
requests>=2.25.1
langchain-community>=0.1.0
crewai>=0.1.32
packaging>=20.9
